.timer { height: 8px; width: 100%; position: absolute; top: 0; left: 0; }
@keyframes t-reduce {
  from { width: 100%; background-color: var(--primary-color); }
  to { width: 0%; background-color: var(--secondary-color); }
}
#dialogue-container { user-select: none; }
.dialogue-box { position: relative; cursor: zoom-in; }
#dialogue-text { font-size: 1.5rem; font-style: italic; color: var(--primary-color); min-height: 120px; }
#dialogue-movie::before { content: "- "; }
#dialogue-movie { font-size: 1rem; color: var(--secondary-color); margin-top: 1rem; }
